/* start fram work */

* {
    animation-delay: .8s
}

.upper {
    text-transform: uppercase
}

.center {
    text-align: center
}

.main-color {
    background-color: #1D6CE2
}

section,footer{
    margin-top: 2%
}

a{
    color:#fff;
    transition: all 1s ease-in;
}

a:hover,a:focus{
  text-decoration: none;
     color:#fff;
}

/*End fram work */

/* start our nav bar */ 

nav {
    animation-delay: .8s;
    background-color: rgba(36, 35, 35, 0.8);
    overflow: hidden
}

nav .brand{
     padding: 15px;
     float: left;
     font-size: 35px;
     font-weight: bold;
     color: #FFF;
}
 
nav .brand span,header span{
    border-radius: 8px;
    padding: 8px
}

nav .nav{
     float: right;
}

nav ul li{
    padding: 15px 10px;
    font-size: 20px;
    text-align: center
}

.nav > li > a:hover, .nav > li > a:focus {
   background-color: #1D6CE2;
    cursor: pointer;
    color: #fff
}

nav button {
    color:#FFF;
    border-radius: 18px;
    padding: 8px 20px;
    border:0;
    font-size: 18px;  
}

nav button:hover{
    color: #333;
    background-color: #fff; 
}

.visibel{
    display:block !important;
    position: absolute;
    background-color:  rgba(36, 35, 35, 0.9);
    border: 2px solid #382607;
    z-index: 4;
    top: 51px;
    left:15px;
    right: 0;
    animation-delay: .1s
}

nav .bar{
    float: right;
    overflow: hidden;
    color: aliceblue;
    font-size: 10px;
    margin: 3%
}

nav .bar:hover{
    transform: scale(.9, .8);
    color: #80878c
}

/* end our nav bar */

/* start our header */

header {
    background-image: url('../images/Business-Marketing-For-Successive-Results.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative
    
}

.overlay {
    background-color: rgba(58, 65, 79, .6);
    position: absolute;
     top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
header h1 {

    margin-bottom: 30px;
    font-size: 96px;
    font-weight: bold;
    color: #FFF;
     animation-delay: 1.5s
}

header p {
    color: #EEE;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 50px;
     animation-delay: 2s
}

header button {
    color:#FFF;
    border-radius: 25px;
    padding: 10px 30px;
    border:0;
    font-size: 18px;
    animation-delay: 3s;
}

/* end our header*/

/* start about us */

.about-us .left-info p:first-child {
    margin-top: 55%;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 60px;
    font-style: normal;
    font-weight: 400;
    font-family: 'playfair';
    color:#777;
}

.about-us .left-info p:nth-child(2){
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bold;
    color:#777;
}

.about-us .left-info .qute {
    font-size: 90px;
    font-family: 'playfair';
    line-height: 30px;
    vertical-align: middle;
    margin-bottom: -20px;
    margin-right: 20px;
    color:#777
}

.about-us .right-info h2 {
    font-size: 65px;
    font-weight: 600;
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: 'Roboto';
    text-transform: capitalize;
}

.about-us .right-info p span:first-child {
    position: relative;
    top:5px;
    border-radius:50%;
    background-color:#2176ff;
    font-size: 45px;
    text-align: center;
    width: 51px;
    float:left;
    line-height: 52px;
    margin-right: 10px;
    color: #FFF
}

.about-us .right-info p {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.7;
    color:#777;
}
.about-us .right-info button {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px solid #000;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 25px;
    letter-spacing: 4px;
    color: black;
}

.about-us .right-info button:hover {
    border-color: #2176ff;
    background-color: #2176ff;
    color:#FFF;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

/* end about us */

.video{
    background-image: url(../images/building.jpg);
    height: 700px;
    background-size: cover;
    font-size: 100px;
    position: relative;
    color: aliceblue
}

.video h3{
    margin: 30px auto -95px;
    font-size: 70px;
    font-weight: bolder;
}

.video iframe{
    padding: auto 10%;
}

 /*start Our-Work */

.our-work h2{
    font-size:40px;
    color:#444;
    font-weight: bold
}

.our-work p{
    display:inline-block;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    color:#777;
}

.our-work button{
    color:#FFF;
    border-radius: 18px;
    padding: 8px 20px;
    border:0;
    font-size: 18px; 
}

.our-work button:hover,.our-work button:focus{
    color: #333;
    background-color: #fff;
    border: 2px solid #1D6CE2
}

.our-work img{
    margin-bottom: 20px;
    margin-top: 20px
}

/* start Articl  */

.articel{
    background-color:#303745;
    padding: 5%;
    position:relative
}

.articel .circle {
    height: 1%;
    width: 1%;
    border-radius: 50%;
    position: absolute;
    top: 37.6%;
    right:49.5%;
    background-color: #FFF;
}

.articel .circle2 {
    height: 1%;
    width: 1%;
    border-radius: 50%;
    position: absolute;
    right:49.5%;
    bottom: 19.6%;
    background-color: #FFF;
}

.articel .art-1, .articel .art-2, .articel .art-3, .articel .art-4{
    margin-top: 10%;
    padding: 0 !important;
    height: 450px;
    background-color: #fff;
    border:4px solid #fff
}

.articel .art-1::before, .articel .art-3::before { 
    content: " ";
    position: absolute;
    width: 0; 
    height: 0;
    top: 50%;
    right:-9%;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
}

.articel .art-2::before, .articel .art-4::before { 
    content: " ";
    position: absolute;
    width: 0; 
    height: 0;
    top: 50%;
    left:-9%;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #fff;
    
}
.articel  img{
    width: 100%;
    height: 40%
}

.articel i{
    color: #fff
}

.articel span{
    background-color: #fff;
    padding: 4px
}

.line{
    background-color: #fff;
    width:.2%;
    max-height: 90%;
    height: 100%;
    position: absolute;
    right: 49.9%
}

/* start our services section */

.our-serv .head h2 {
    font-weight: 600;
    font-size: 60px;
    margin-top: 6%;
    MARGIN-BOTTOM: 3%;
}

.our-serv .head p {
    line-height: 1.8;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 3%;
    color: #747a87
}

.our-serv .serv {
    margin-top: 20%;
}

.our-serv .serv:hover h3 {
    color: #7da7fa
}

.our-serv .serv .icon {
    border: 1px solid #7da7fa;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #7da7fa;
    font-size: 50px;
    cursor: pointer
}

.our-serv .serv h3 {
    margin: 30px 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer
}

.our-serv .serv .fa-chevron-down {
    color: #7da7fa
}

.our-serv .serv p {
    margin: 30px 0;
    font-size: 18px;
    color: #747a87
}

.our-serv .serv .seperator {
    border-bottom: 1px solid #e0dede;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
    max-width: 60%;
}

.our-serv div button {
    background-color: #1D6CE2;
    border: 0;
    padding: 10px 30px;
    border-radius: 25px;
    color: #FFF;
    margin: 7% 0;
    font-size: 18px;
}

.our-serv div button:hover {
    background-color: #2176ff
}

/* end our services section */

/* start contact us */

.contact-us {
    background-image: url("../images/02c182cfb9812c46e02c3449a58e798b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us .over-lay {
    background-color: rgba(57, 114, 255, .9);
    height: 100%;
    width: 100%
}

.contact-us h2 {
    padding-top: 300px;
    font-size: 84px;
    font-weight: 700;
    line-height: 117px;
    color: #FFF;
}

.contact-us p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #FFF;
}

.contact-us button {
    border: 0;
    margin-top: 35px;
    margin-bottom: 260px;
    padding: 10px 36px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #FFF;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.contact-us button:hover {
    background-color: #27334D;
    color:#FFF
}

.contact-us button i {
    padding-right: 10px
}
/* end contact us */

@media screen and (max-width: 768px){
  header h1{
       font-size:40px;
    }
    .video h3{
       font-size:30px;
    }
    .video{
        height: 400px
    }
    .video iframe{
        height: auto
    }
    header p{
        font-size: 15px
    }
    .about-us .right-info p{
        font-size: 15px
    }
    .about-us .left-info p span{
        font-size: 20px
    }        
    .about-us .right-info h2{
        font-size: 35px
    }
    nav .brand{
        font-size: 30px
    }
    .nav li,.nav li button{
        font-size: 15px;
        padding: 8px
    }
    .articel .art-1::before, .articel .art-3::before, .articel .art-2::before, .articel .art-4::before{
        display: none
    }
}


@media {
    .text-center-xs {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }
}