/* start fram work */
* {
   
    animation-delay: .8s
}

body{
    height: 1900px;
    background-color: #999
}
.upper {
    text-transform: uppercase
}


.main-color {
    background-color: #1D6CE2
}
img{
    width: 100%;
    height: 100%
}
section,footer{
    margin-top: 2%
}

a{
    color:#fff;
    transition: all 1s ease-in;
    
    
}
a:hover,a:focus{
  text-decoration: none;
     color:#fff;
}
/*End fram work */
/* start our nav bar */ 

nav {
    position:fixed;
    animation-delay: .8s;
    background-color: rgba(36, 35, 35, 0.8);
   
}
nav .brand{
  padding: 10px;
    float: left;
    font-size: 35px;
     font-weight: bold;
    color: #FFF;}
 
 strong{
    border-radius: 8px;
    padding: 8px
}
nav .nav{
     float: right;
   
}
nav ul li{
    padding: 15px 10px;
    font-size: 20px;
    
    

}

.nav > li > a:hover, .nav > li > a:focus {
   background-color: #1D6CE2;
    cursor: pointer;
    color: #fff
}

nav button {
    color:#FFF;
    border-radius: 18px;
    padding: 8px 20px;
    border:0;
    font-size: 18px;
    
}
.visibel{
    display:block !important;
    position: absolute;
   background-color:  rgba(36, 35, 35, 0.9);
    border: 2px solid #382607;
    z-index: 4;
    top: 39px
    
    
}

nav .bar{
    float: right;
    overflow: hidden;
    color: aliceblue;
    font-size: 10px
}
/* end our nav bar */

/* start our header */
header {
    background-image: url('../images/Business-Marketing-For-Successive-Results.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative
    
}

.overlay {
    background-color: rgba(58, 65, 79, .6);
    position: absolute;
     top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
header h1 {
   margin-top: 25%;
    margin-bottom: 30px;
    font-size: 96px;
    font-weight: bold;
    color: #FFF;
     animation-delay: 1.5s
}

header p {
    color: #EEE;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 50px;
     animation-delay: 2s
}

header button {
    color:#FFF;
    border-radius: 25px;
    padding: 10px 30px;
    border:0;
    font-size: 18px;
     animation-delay: 3s
}
/* end our header*/

/* start about us */

.about-us .left-info p:first-child {
    margin-top: 55%;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 60px;
    font-style: normal;
    font-weight: 400;
    font-family: 'playfair';
    color:#777;
}

.about-us .left-info p:nth-child(2){
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bold;
    color:#777;
}

.about-us .left-info .qute {
    font-size: 90px;
    font-family: 'playfair';
    line-height: 30px;
    vertical-align: middle;
    margin-bottom: -20px;
    margin-right: 20px;
    color:#777
}

.about-us .right-info h2 {
    font-size: 65px;
    font-weight: 600;
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: 'Roboto';
    text-transform: capitalize;
}

.about-us .right-info p span:first-child {
    position: relative;
    top:5px;
    border-radius:50%;
    background-color:#2176ff;
    font-size: 45px;
    text-align: center;
    width: 51px;
    float:left;
    line-height: 52px;
    margin-right: 10px;
    color: #FFF
}

.about-us .right-info p {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.7;
    color:#777;
}
.about-us .right-info button {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px solid #000;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 25px;
    letter-spacing: 4px;
    color: black;
}

.about-us .right-info button:hover {
    border-color: #2176ff;
    background-color: #2176ff;
    color:#FFF
}
/* end about us */

@media screen and (max-width: 768px){
  header  h1{
       font-size:40px;
      margin-top: 30%
    }
    header p{
        font-size: 15px
    }
    nav .brand{
        font-size: 20px
    }
    .nav li,.nav li button{
        font-size: 15px;
        padding: 8px
    }
}